<link href="../../bower_components/polymer/polymer.html" rel="import">
<link href="../../bower_components/paper-button/paper-button.html" rel="import">
<link href="../../bower_components/paper-dialog/paper-dialog.html" rel="import">
<link href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html" rel="import">
<link href="../../bower_components/paper-input/paper-input.html" rel="import">
<link href="../../bower_components/paper-listbox/paper-listbox.html" rel="import">
<link href="../../bower_components/paper-item/paper-item.html" rel="import">
<link href="../../bower_components/iron-icons/iron-icons.html" rel="import">
<link href="../../bower_components/iron-label/iron-label.html" rel="import">
<link href="../../bower_components/iron-ajax/iron-ajax.html" rel="import">
<link href="../../bower_components/paper-fab/paper-fab.html" rel="import">
<link href="../../bower_components/juicy-ace-editor/juicy-ace-editor.html" rel="import"> 
<link href="../../bower_components/paper-input/paper-textarea.html" rel="import">
<link href="../services/projects-service.html" rel="import">
<link href="../services/events-service.html" rel="import">

<dom-module id="event-create">
  <template>
    <style>
       :host {
        display: block;
        padding: 10px;
      }

      .my-label {
        @apply --layout-horizontal;
      }

      paper-fab.blue {
        margin-left: 20px;
        margin-top: 7px;
        --paper-fab-background: #4285f4;
        --paper-fab-keyboard-focus-background: var(--paper-light-blue-900);
      }

      paper-dialog.size-position {
        width: 500px;
        height: 600px;
        overflow: auto;
      }

      .buttons {
        position: absolute;
        bottom: 10px;
        right: 10px;
      }

      juicy-ace-editor {
        min-height: 200px;
      }
      paper-dropdown-menu {
        display: block;
        margin-top: 5px;
      }
      paper-input {
        margin-top: 1px;
        height: 40px;
      }
    </style>

    <iron-ajax
      auto
      url="assets/activities.json"
      handle-as="json"
      on-response="handleActivitiesResponse"
      last-response="{{activitiesArray}}">
    </iron-ajax>

    <iron-ajax
      auto
      url="./activities.json"
      handle-as="json"
      last-response="{{ajaxResponse}}">
    </iron-ajax>

    <projects-service 
        auto={{projectsTrigger}}
        on-projects-response="handleResponse">
    </projects-service>
    
    <iron-ajax id="xhrAuthSignin"
        url="/api/auth/login"
        handle-as="json"
        method="POST"
        content-type="application/json"
        body={{signinBody}}
        debounce-duration="300"
        on-response="handleSigninResponse">
    </iron-ajax>

    <events-service id="eventsServ" on-events-response="handleEventsResponse" events-method={{eventMethod}} headers={{headers}} events-body={{eventBody}}>
    </events-service>

    <paper-dialog id="modal" auto-fit-on-attach on-iron-overlay-closed="dismissDialog" class="size-position">

      <h3>Send Event to Project</h3>

      <paper-input id="client-id" value="{{clientId}}" label="Client Id" required="" char-counter="" maxlength="80"></paper-input>
      <paper-input id="secret" value="{{clientSecret}}" label="Client Secret" required="" char-counter="" maxlength="80"></paper-input>
      </br>

      <paper-dropdown-menu id="dropdown" label="Pick a Project" horizontal-align="left">
        <paper-listbox id="projectList" slot="dropdown-content" 
          selected="{{selectedProject}}"
          class="dropdown-content" 
          on-iron-select="selectedProjChanged">
          <template is="dom-repeat" items="{{aProjects}}">
            <paper-item>{{item.name}}</paper-item>
          </template>
        </paper-listbox>
      </paper-dropdown-menu>

      <paper-dropdown-menu id="dropdown" label="Pick an Activity Type" horizontal-align="left">
        <paper-listbox id="typesList" 
          slot="dropdown-content" class="dropdown-content" 
          selected="{{selectedType}}"
          on-iron-select="selectedTypeChanged">
          <template is="dom-repeat" items="{{activitiesArray}}">
            <paper-item>{{item.name}}</paper-item>
          </template>
        </paper-listbox>
      </paper-dropdown-menu>

      <juicy-ace-editor id="juicyEditor">{{textInput}}
      </juicy-ace-editor>
 
      <div class="buttons">
        <paper-button dialog-confirm autofocus>Send</paper-button>
        <paper-button dialog-dismiss autofocus>Cancel</paper-button>
      </div>

    </paper-dialog>

    <div class="my-label">
      <h2>Send New Event</h2>
      <paper-fab iron-label-target on-click="openDialog" icon="add" class="blue"></paper-fab>
    </div>

  </template>
</dom-module>

<script>
    class EventCreate extends Polymer.Element {
      static get is() { return 'event-create'; }

      static get properties() {
        return {

          activitiesArray: "String",
          groupsUrl: {
            type: String,
            value: "/api/groups"
          },
          aProjects: {
            type: Array,
            reflectToAttribute: true,
            notify: true,
            value: function() { return []; }
          },
          payload: {
            type: Object,
            value: () => {
              return {
                type: "slb.drill-plan.activity",
                id: "",
                project: "",
                content: {}
              }
            }
          },
          headers: Object,
          selectedProject: Number,
          selectedType: Number,
          eventBody: String
        }
      }

    openDialog() {
      this.projectsTrigger = "true";
      this.$.modal.open();
    }

    dismissDialog(e) {
      if (e.detail.confirmed) {
        this.signinBody = JSON.stringify({
            client_id: this.clientId,
            client_secret: this.clientSecret,
        });

        this.$.xhrAuthSignin.generateRequest();
      }
    }

    handleSigninResponse(e) {
        let token = e.detail.response.token;
        this.headers =  { "x-api-key": token };

        this.eventMethod = "PUT";
        // use this.textInput, as user may have modified
        let text = this.$.juicyEditor.value;
        let body = JSON.parse(text);
        this.eventBody = JSON.stringify(body);

        this.$.eventsServ.generateRequest();
    }

    handleEventsResponse(e) {
      console.log("operation id#" + this.payload.project + " = " + e.detail.status);
    }

    selectedProjChanged(e) {
      this.selectedProject = e.target.selected;
      let item = this.aProjects[this.selectedProject];
      this.payload.project = item.id;
      this.textInput = JSON.stringify(this.payload, null, "  ");
    }

    selectedTypeChanged(e) {
      this.selectedType = e.target.selected;
      this.payload.content = this.activitiesArray[this.selectedType];
      this.textInput = JSON.stringify(this.payload, null, "  ");
    }

    handleResponse (data) {
      this.aProjects = data.detail.slice();
      this.selectedProject = 0;
    }
    handleActivitiesResponse(data) {
      this.selectedType = 0;
      this.activitiesArray = data.detail.response;
    }
  }

  customElements.define(EventCreate.is, EventCreate);
</script>