<link href="../../bower_components/paper-card/paper-card.html" rel="import">
<link href="../../bower_components/paper-button/paper-button.html" rel="import">
<link href="../../bower_components/paper-icon-button/paper-icon-button.html" rel="import">
<link href="../../bower_components/paper-input/paper-textarea.html" rel="import">
<link href="../../bower_components/google-map/google-map.html" rel="import">
<link href="../../bower_components/iron-ajax/iron-ajax.html" rel="import">
<link href="../../bower_components/juicy-ace-editor/juicy-ace-editor.html" rel="import">
<link href="../services/groups-service.html" rel="import">
<link href="../misc/shared-styles.html" rel="import">
<link href="../components/activity-card.html" rel="import">
<link href="../services/channel-service.html" rel="import">
<link rel="import" href="../services/user-signin-service.html">
<link rel="import" href="../services/channel-service.html">
<link rel="import" href="../components/channel-create.html">

<dom-module id="group-card">

  <template>
    <style type="text/css">
       :host {
        --paper-card-header-image: {
          width: 280px;
          height: auto;
          display: inline-block;
          padding: 18px;
        }
      }

      .papercard {
        margin: 10px 10px 10px 10px;
      }

      paper-dialog#exploreModal.size-position {
        width: 600px;
        height: 600px;
        overflow: hidden;
      }

      juicy-ace-editor {
        height: 450px;
      }

      #exploreModalLabel {
        word-wrap: break-word;
        width: 320px;
        height: auto;
      }

      .buttons {
        position: absolute;
        bottom: 10px;
        right: 10px;
      }

      .card-actions {
        text-align: right;
      }

      paper-dialog#shareModal.size-position {
        width: 500px;
        height: 500px;
        overflow: hidden;
      }

      #mycontent {
        text-align: center;
      }

      div#webhook {
        white-space: nowrap;
        width: 300px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
      }

      paper-icon-button.large {
        width: 40px;
        height: 40px;
        color: #444444;
      }

      paper-icon-button.larger {
        width: 45px;
        height: 45px;
      }

      .mymap {
        height: 200px;
        width: 300px;
      }

      .card-content {
        font-size: 1.3rem;
        color: #444444;
      }

      google-map {
        display: block;
        height: 200px;
        width: 317px;
      }
    </style>

    <paper-dialog id="exploreModal" auto-fit-on-attach on-iron-overlay-closed="dismissExploreDialog" class="size-position">
      <h3>Edit Raw Project JSON Data</h3>

      <juicy-ace-editor id="juicyEditor" wrapmode="true">{{textInput}}
      </juicy-ace-editor>

      <div class="buttons">
        <paper-button dialog-confirm autofocus>Update</paper-button>
        <paper-button dialog-dismiss autofocus>Cancel</paper-button>
      </div>
    </paper-dialog>

    <template is="dom-if" if="{{projMethod}}">
      <groups-service auto={{deleteTrigger}} on-groups-response="handleResponse" groups-method={{projMethod}} groups-body={{projBody}}
        groups-url={{projUrl}}>
      </groups-service>
    </template>

    <paper-card id="projCard" class="papercard" heading="" image="./assets/images/Office_365_2013.svg" alt="{{item.name}}">


      <div class="card-content">
        [[item.name]]
      </div>

      <channel-create group={{item}} id="channelDialog"></channel-create>

      <div class="card-actions">
        <paper-icon-button title="Explore" on-tap="handleExplore" class="large" icon="my-icons:icon-agenda">Explore</paper-icon-button>
        <paper-icon-button title="Delete" on-tap="removeItem" class="large" icon="my-icons:icon-delete">Delete</paper-icon-button>
        <paper-icon-button title="Channels" on-tap="exploreChannels" class="large" icon="my-icons:icon-agenda">Create</paper-icon-button>
      </div>
    </paper-card>
  </template>

</dom-module>

<script>
  class GroupCard extends Polymer.Element {
    static get is() { return 'group-card'; }

    static get properties() {
      return {
        item: Object,
        itemArray: {
          type: Object,
          notify: true
        },
        projUrl: String,
        projMethod: String,
        projBody: String,

        entityInput: String,
        propertyInput: String,
        fromInput: String,
        toInput: String,

        textInput: String,

        channels: {
          type: Object,
          value: () => { return []; },
          notify: true
        },

        userToken: {
          type: String,
        }
      }
    }

    handleResponse(data) {
      console.log("operation id#" + this.item.id + " = " + data.detail.status);
    }

    removeItem() {
      this.itemArray = this.itemArray.filter(function (elem) {
        if (elem.id !== this.item.id) {
          return elem;
        } else {
          this.projMethod = "DELETE";
          this.projUrl = "/api/groups/" + this.item.id;
          this.deleteTrigger = "true";
        }
      }, this);
    }

    dismissExploreDialog(e) {
      if (e.detail.confirmed) {
        let body = JSON.parse(this.$.juicyEditor.value);

        this.projBody = JSON.stringify(body);
        this.projMethod = "PUT";
        this.projUrl = "/api/groups";
      }
    }

    handleExplore() {
      this.textInput = JSON.stringify(this.item, null, "\t");
      this.$.exploreModal.open();
    }

    exploreChannels() {
      this.$.channelDialog.openDialog();
    }

    createChannel() {
      this.$.channelListService.createChannel("channel 112", "this is a channel")
    }

    handleCreationResponse(e) {
      console.log("Channel creation response: ", e);
    }

  }

  customElements.define(GroupCard.is, GroupCard);

</script>