<link href="../../bower_components/paper-card/paper-card.html" rel="import">
<link href="../../bower_components/paper-button/paper-button.html" rel="import">
<link href="../../bower_components/paper-icon-button/paper-icon-button.html" rel="import">
<link href="../../bower_components/paper-input/paper-textarea.html" rel="import">
<link href="../../bower_components/google-map/google-map.html" rel="import">
<link href="../../bower_components/iron-ajax/iron-ajax.html" rel="import">
<link href="../../bower_components/juicy-ace-editor/juicy-ace-editor.html" rel="import">
<link href="../services/projects-service.html" rel="import">
<link href="../misc/shared-styles.html" rel="import">
<link href="../components/activity-card.html" rel="import">

<dom-module id="project-card">

  <template>
    <style type="text/css">
       :host {
        --paper-card-header-image: {
          width: 280px;
          height: auto;
          display: inline-block;
          padding: 18px;
        }
      }

      .papercard {
        margin: 10px 10px 10px 10px;
      }

      paper-dialog#exploreModal.size-position {
        width: 600px;
        height: 600px;
        overflow: hidden;
      }

      juicy-ace-editor {
        height: 450px;
      }

      #exploreModalLabel {
        word-wrap: break-word;
        width: 320px;
        height: auto;
      }

      .buttons {
        position: absolute;
        bottom: 10px;
        right: 10px;
      }

      .card-actions {
        text-align: right;
      }

      paper-dialog#shareModal.size-position {
        width: 500px;
        height: 500px;
        overflow: hidden;
      }

      #mycontent {
        text-align: center;
      }

      div#webhook {
        white-space: nowrap;
        width: 300px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
      }

      paper-icon-button.large {
        width: 40px;
        height: 40px;
        color: #444444;
      }

      paper-icon-button.larger {
        width: 45px;
        height: 45px;
      }

      .mymap {
        height: 200px;
        width: 300px;
      }

      .card-content {
        font-size: 1.3rem;
        color: #444444;
      }

      google-map {
        display: block;
        height: 200px;
        width: 317px;
      }

    </style>

    <paper-card id="projCard" class="papercard" heading="" image="./assets/images/Schlumberger.svg" alt="{{item.name}}">

      <div class="mymap">
        <google-map fit-to-marker api-key="AIzaSyD3E1D9b-Z7ekrT3tbhl_dy8DCXuIuDDRc">
          <google-map-marker latitude="{{latitude}}" longitude="{{longitude}}" draggable="true"></google-map-marker>
        </google-map>
      </div>

      <div class="card-content">
        {{item.name}}
      </div>

      <slot id="myContent"></slot>

    </paper-card>
  </template>

</dom-module>

<script src="../../bower_components/geohash/geohash.js"></script>

<script>
  class ProjectCard extends Polymer.Element {
    static get is() { return 'project-card'; }

    static get properties() {
      return {
        item: Object,
        itemArray: {
          type: Object,
          notify: true
        },

        latitude: {
          type: Number,
          value: 37.78
        },
        longitude: {
          type: Number,
          value: -122.4
        }
      }
    }

    ready() {
      super.ready();
      // google-map-marker is broken still, does not move to the position. need wait for them to fix.
      //this.geohashToCoord(this.item.geohash);
    }

    geohashToCoord(geoHash) {
      // Handle geohash
      if (geoHash) {
        let geoObject = decodeGeoHash(geoHash);
        this.latitude = geoObject.latitude[0];
        this.longitude = geoObject.longitude[0];
      }
    }

  }

  customElements.define(ProjectCard.is, ProjectCard);
</script>