<link href="../../bower_components/paper-card/paper-card.html" rel="import">
<link href="../../bower_components/paper-button/paper-button.html" rel="import">
<link href="../../bower_components/paper-icon-button/paper-icon-button.html" rel="import">
<link href="../../bower_components/paper-input/paper-textarea.html" rel="import">
<link href="../../bower_components/google-map/google-map.html" rel="import">
<link href="../../bower_components/iron-ajax/iron-ajax.html" rel="import">
<link href="../../bower_components/juicy-ace-editor/juicy-ace-editor.html" rel="import">
<link href="../services/projects-service.html" rel="import">
<link href="../misc/shared-styles.html" rel="import">
<link href="../components/activity-card.html" rel="import">

<dom-module id="project-card">

  <style type="text/css">
     :host {
      display: inline-block;
    }
  </style>

  <template>
    <style type="text/css">
       :host {
        --paper-card-header-image: {
          width: 280px;
          height: auto;
          display: block;
          padding: 18px;
        }
      }

      .papercard {
        margin: 10px 10px 10px 10px;
      }

      paper-dialog#exploreModal.size-position {
        width: 600px;
        height: 600px;
        overflow: hidden;
      }

      juicy-ace-editor {
        height: 450px;
      }

      #exploreModalLabel {
        word-wrap: break-word;
        width: 320px;
        height: auto;
      }

      .buttons {
        position: absolute;
        bottom: 10px;
        right: 10px;
      }

      .card-actions {
        text-align: right;
      }

      paper-dialog#shareModal.size-position {
        width: 500px;
        height: 500px;
        overflow: hidden;
      }

      #mycontent {
        text-align: center;
      }

      div#webhook {
        white-space: nowrap;
        width: 300px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
      }

      paper-icon-button.large {
        width: 40px;
        height: 40px;
        color: #444444;
      }

      paper-icon-button.larger {
        width: 45px;
        height: 45px;
      }

      .mymap {
        height: 200px;
        width: 300px;
      }

      .card-content {
        font-size: 1.3rem;
        color: #444444;
      }

      google-map {
        display: block;
        height: 200px;
        width: 317px;
      }

    </style>

    <paper-dialog id="exploreModal" auto-fit-on-attach on-iron-overlay-closed="dismissExploreDialog" class="size-position">
      <h3>Edit Raw Project JSON Data</h3>

      <juicy-ace-editor 
          id="juicyEditor" 
          wrapmode="true">{{textInput}}
      </juicy-ace-editor>

      <div class="buttons">
        <paper-button dialog-confirm autofocus>Update</paper-button>
        <paper-button dialog-dismiss autofocus>Cancel</paper-button>
      </div>
    </paper-dialog>

    <paper-dialog id="shareModal" auto-fit-on-attach on-iron-overlay-closed="dismissShareDialog" class="size-position">
      <h3>Send Message to Channel</h3>
      <paper-input value="{{entityInput}}" label="Entity" required char-counter maxlength="20"></paper-input>
      <paper-input value="{{propertyInput}}" label="Property" required char-counter maxlength="20"></paper-input>
      <paper-input value="{{fromInput}}" label="From" required char-counter maxlength="10"></paper-input>
      <paper-input value="{{toInput}}" label="To" required char-counter maxlength="10"></paper-input>

      <div class="buttons">
        <paper-button dialog-confirm autofocus>Send</paper-button>
        <paper-button dialog-dismiss autofocus>Cancel</paper-button>
      </div>
    </paper-dialog>

    <template is="dom-if" if="{{projMethod}}">
      <projects-service 
        auto={{deleteTrigger}}
        on-projects-response="handleResponse" 
        projects-method={{projMethod}} 
        projects-body={{projBody}} 
        projects-url={{projUrl}}>
      </projects-service>
    </template>

    <template is="dom-if" if="{{eventMethod}}">
      <events-service on-events-response="handleEventsResponse" events-method={{eventMethod}} events-body={{eventBody}}>
      </events-service>
    </template>

    <paper-card id="projCard" class="papercard" heading="" image="./assets/images/Schlumberger.svg" alt="{{item.name}}">

      <div class="mymap">
        <google-map id="myMap" map="{{map}}" fit-to-markers zoom="10" api-key="AIzaSyCMsBPpFm2-D8Dt5oQUHWYM3VHeYxmyLOs">
          <google-map-marker latitude="{{latitude}}" longitude="{{longitude}}" draggable></google-map-marker>
        </google-map>
      </div>

      <div class="card-content">
        {{item.name}}
      </div>

      <div class="card-actions">
        <paper-icon-button title="Share to Teams" on-tap="handleShare" class="larger" icon="my-icons:icon-ms-teams">Share</paper-icon-button>
        <paper-icon-button title="Explore" on-tap="handleExplore" class="large" icon="my-icons:icon-agenda">Explore</paper-icon-button>
        <paper-icon-button title="Delete" on-tap="removeItem" class="large" icon="my-icons:icon-delete">Delete</paper-icon-button>
      </div>
    </paper-card>
  </template>

</dom-module>

<script src="../../bower_components/geohash/geohash.js"></script>

<script>
  Polymer({
    is: 'project-card',

    properties: {
      item: Object,
      itemArray: {
        type: Object,
        notify: true
      },
      projUrl: String,
      projMethod: String,
      projBody: String,

      entityInput: String,
      propertyInput: String,
      fromInput: String,
      toInput: String,

      latitude: {
        type: Number,
        value: 37.78
      },
      longitude: {
        type: Number,
        value: -122.4
      },

      textInput: String,
    },

    ready: function () {
      this.geohashToCoord(this.item.geohash);
      // this.map = this.$.myMap;
    },

    geohashToCoord: function (geoHash) {
      // Handle geohash
      if (geoHash) {
        let geoObject = decodeGeoHash(geoHash);
        this.latitude = geoObject.latitude[0];
        this.longitude = geoObject.longitude[0];
      }
    },

    removeItem: function () {
      this.itemArray = this.itemArray.filter(function (elem) {
        if (elem.id !== this.item.id) {
          return elem;
        } else {
          this.projMethod = "DELETE";
          this.projUrl = "/api/projects/" + this.item.id;
          this.deleteTrigger = "true";
        }
      }, this);
    },

    handleResponse: function (data) {
      console.log("operation id#" + this.item.id + " = " + data.detail.status);
    },

    handleExplore: function () {
      this.textInput = JSON.stringify(this.item, null, "\t");
      this.$.exploreModal.open();
    },
    dismissExploreDialog: function(e) {
      if (e.detail.confirmed) {
        let type = "any";
        let body = JSON.parse(this.$.juicyEditor.value);
        this.geohashToCoord(body.geohash);

        this.projBody = JSON.stringify(body);
        this.projMethod = "PUT";
        this.projUrl = "/api/projects";
      }
    },

    handleShare: function () {
      this.$.shareModal.open();
    },
    dismissShareDialog: function (e) {
      if (e.detail.confirmed) {
        this.eventMethod = "PUT";
        this.eventBody = JSON.stringify({
          id: "",
          project: this.item.id,
          type: "wazzap",
          content: {
            entity: this.entityInput,
            property: this.propertyInput,
            from: this.fromInput,
            to: this.toInput
          }
        });
      }
    },
    handleEventsResponse: function(e) {
      console.log("operation id#" + this.item.id + " = " + e.detail.status);
    }

  });

</script>